/* LAST UPDATED 1696270367.284773 */



/* RESET ************************************************************************************************************************************/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small,
strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label,
legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
details, figcaption, figure, footer, header, hgroup, menu, nav, section,
summary, time, mark, audio, video{
margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%;
vertical-align: baseline; background: transparent;
}
article, aside, figure, footer, header, hgroup, nav, section{
display: block;
}
html{
-webkit-text-size-adjust: 100%;
}
a:active, a:hover{
outline: none;
}
/* END RESET */



/* GENERAL **********************************************************************************************************************************/
body{
font-family: Arial, sans-serif;
font-weight: 500;
color: rgb(0,0,0);
background-color: rgb(210,210,210);
}
.hidden{
display: none;
}
del{
text-decoration: line-through;
background-color: transparent;
}
ins{
text-decoration: none;
background-color: transparent;
}
div#contentWrapper{
width: 320px;
height: auto;
margin: 0 auto 0 auto;
border: none;
overflow: hidden;
}
div#topNav, div#bottomNav, iframe.youtube, a#fourzerofour, a#fourzerofour:visited{
display: block;
width: 320px;
height: 180px;
border: none;
margin: 0 auto;
line-height: 180px;
text-align: center;
font-size: 14px;
text-decoration: none;
color: rgb(0,0,0);
}
a#fourzerofour{
font-family: Anton, Impact, sans-serif;
font-style: normal;
font-size: 43px;
border-top: 1px solid rgb(0,0,0);
border-bottom: 1px solid rgb(0,0,0);
background-color: rgb(255,255,255);
}
a#fourzerofour:focus, a#fourzerofour:visited:focus{
outline: 1px solid rgb(0,0,0);
outline-offset: -4px;
}
div#topNav, div#bottomNav{
height: 40px;
}
div#bottomNav{
position: relative;
}
div#topNav a.left, div#bottomNav a.left, div#topNav a.right, div#bottomNav a.right{
display: block;
float: left;
width: 40px;
height: 40px;
}
div#topNav a.right, div#bottomNav a.right{
float: right;
}
div#topNav a.left:focus, div#bottomNav a.left:focus, div#topNav a.right:focus, div#bottomNav a.right:focus{
outline: 1px solid rgb(0,0,0);
outline-offset: -2px;
}
div.left, div.right, div.older, div.newer{
float: left;
width: 40px;
height: 40px;
}
div.right{
float: right;
}
input.phantom{
opacity: 0;
width: 0;
height: 0;
float: left;
margin: 0;
padding: 0;
border: 0;
}
a.gridMenuButtonActive{
display: none;
}
input[type=checkbox]#gridMenuButton:checked ~ a.gridMenuButton{
display: none;
}
input[type=checkbox]#gridMenuButton:checked ~ div.gridMenu,
input[type=checkbox]#gridMenuButton:checked ~ a.gridMenuButtonActive{
display: block;
float: left;
}
input[type=checkbox]#gridMenuButton:focus ~ a.gridMenuButton div,
input[type=checkbox]#gridMenuButton:checked:focus ~ a.gridMenuButtonActive div{
outline: 1px solid rgb(0,0,0);
outline-offset: -2px;
}
div.gridMenuButton{
display: block;
width: 40px;
height: 40px;
line-height: 40px;
position: absolute;
left: 0px;
}
label.gridMenuButton{
width: 40px;
height: 40px;
line-height: 40px;
display: block;
position: absolute;
left: 0px;
margin: 0 0 0 0;
padding: 0;
cursor: pointer;
}
input[type=checkbox]#gridMenuButton ~ div.gridMenu{
display: none;
position: absolute;
top: -40px;
left: 0px;
background-color: rgb(255,255,255);
border-radius: 0;
overflow: hidden;
}
div#bottomNav a.copyright{
display: block;
float: right;
margin: 0 0 0 0;
text-align: right;
}
div#bottomNav a.copyright, div#bottomNav div.copyright{
width: auto;
font-size: 12px;
line-height: 40px;
color: rgb(128,128,128);
}
div.left img, div.right img{
display: block;
width: 20px;
height: 20px;
margin: 10px;
}
div.newest img{
width: 20px;
height: 20px;
margin: 10px;
}
div.older img, div.newer img{
width: 29.5px;
height: 29.5px;
margin: 5.25px;
}
div.postings img{
width: 21px;
height: 21px;
margin: 9.5px 9.5px 9.5px 9.5px;
}
div.music img{
width: 19.5px;
height: 19.5px;
margin: 10.25px 10.25px 10.25px 10.25px;
}
div.store img{
width: 20.5px;
height: 20.5px;
margin: 9.75px 9.75px 9.75px 9.75px;
}
div.info img{
width: 19.5px;
height: 19.5px;
margin: 10.25px 10.25px 10.25px 10.25px;
}
div.gridMenuButton img{
width: 20px;
height: 20px;
margin: 10px;
}
div.amazon img{
width: 18px;
height: 18px;
margin: 12.5px 11px 9.5px 11px;
}
div.apple img{
width: 22px;
height: 22px;
margin: 8px 9px 10px 9px;
}
div.deezer img{
width: 23px;
height: 23px;
margin: 8.5px;
}
div.spotify img{
width: 22px;
height: 22px;
margin: 9px;
}
div.rss img{
width: 16px;
height: 16px;
margin: 12px;
}
div#textWrapper{
padding: 11px 10px 10px 10px;
font-size: 14px;
background-color: rgb(255,255,255);
border-top: 1px solid rgb(0,0,0);
border-bottom: 1px solid rgb(0,0,0);
}
div#textWrapper a, div#textWrapper a:visited{
text-decoration: underline;
color: rgb(0,0,0);
}
div#textWrapper a:focus, div#textWrapper a:visited:focus{
background-color: rgb(210,210,210);
outline: none;
}
div#textWrapper h1{
font-family: Anton, Impact, sans-serif;
font-style: normal;
font-weight: 400;
padding: 8.5px 0 22.5px 0;
font-size: 43px;
text-align: center;
border-bottom: 1px solid rgb(0,0,0);
margin-bottom: 10px;
}
div#textWrapper p{
color: rgb(0,0,0);
text-indent: 0.25in;
line-height: 23px;
margin: 0 0 0 0;
}
div#textWrapper p:first-of-type{
text-indent: 0;
}
div#textWrapper p:first-of-type:first-letter{
font-family: Anton, Impact, sans-serif;
display: block;
float: left;
margin-right: 8px;
font-size: 43px;
line-height: 44px;
}
@-moz-document url-prefix(){
  div#textWrapper p:first-of-type:first-letter{
  padding-top: 6px;
  }
}
div#textWrapper p:last-of-type{
margin: 0 0 0 0;
}
div#textWrapper .noteLink{
text-decoration: none;
}
div#textWrapper p.noIndent{
text-indent: 0;
}
div#textWrapper p.break{
text-indent: 0;
text-align: center;
}
div#textWrapper p.break img{
vertical-align: middle;
width: 20px;
height: 20px;
}
div#textWrapper p.firstNote{
margin-top: 10px;
border-top: 1px solid rgb(0,0,0);
padding-top: 10px;
}
div#linkListWrapper{
background-color: rgb(255,255,255);
padding: 11px 10px 10px 10px;
font-size: 14px;
border-top: 1px solid rgb(0,0,0);
border-bottom: 1px solid rgb(0,0,0);
}
div#linkListWrapper h1{
font-family: Anton, Impact, sans-serif;
font-style: normal;
font-weight: 400;
padding: 8.5px 0 22.5px 0;
font-size: 43px;
text-align: center;
border-bottom: 1px solid rgb(0,0,0);
}
div#linkListWrapper a, div#linkListWrapper a:visited{
text-decoration: none;
color: rgb(0,0,0);
}
div#linkListWrapper a:focus, div#linkListWrapper a:visited:focus{
outline: none;
}
div#linkListWrapper a:focus div.listItem, div#linkListWrapper a:visited:focus div.listItem{
background-color: rgb(210,210,210);
outline: none;
}
div#linkListWrapper .listItem{
overflow: auto;
width: 100%;
border-bottom: 1px solid rgb(0,0,0);
}
div#linkListWrapper .lastItem{
border-bottom: none;
margin-bottom: -10px;
}
div#linkListWrapper .newerOlder{
display: block;
float: left;
width: auto;
}
div#linkListWrapper .newerOlder img{
display: block;
float: left;
width: 20px;
height: 20px;
margin: 10px 10px 10px 0;
}
div#linkListWrapper .newerOlder .newerOlderText{
display: block;
float: left;
width: auto;
height: 40px;
line-height: 40px;
}
div#linkListWrapper .newerOlder .newerOlderText span.newerOlderLight{
color: rgb(210,210,210);
}
div#linkListWrapper .posting{
width: 100%;
}
div#linkListWrapper .posting .leftDiv{
display: block;
float: left;
width: auto;
}
div#linkListWrapper .posting .leftDivText{
display: block;
float: left;
text-align: right;
width: 42.23px;
line-height: 40px;
margin: 0 10px 0 30px;
}
div#linkListWrapper .posting .leftDiv img{
display: block;
float: left;
width: 20px;
height: 20px;
margin: 10px 10px 10px 0;
}
div#linkListWrapper .posting .rightDiv .rightDivText{
display: block;
float: right;
width: 187.77px;
line-height: 20px;
margin: 10px 0 10px 0;
}
div#linkListWrapper .posting .rightDiv .postingDate{
font-size: 12px;
color: rgb(128,128,128);
}
div#musicWrapper{
background-color: rgb(255,255,255);
padding: 11px 10px 10px 10px;
font-size: 14px;
border-top: 1px solid rgb(0,0,0);
border-bottom: 1px solid rgb(0,0,0);
}
div#musicWrapper a:focus, div#musicWrapper a:visited:focus{
outline: none;
}
div#musicWrapper a:focus div.listItem, div#musicWrapper a:visited:focus div.listItem{
background-color: rgb(210,210,210);
outline: none;
}
div#musicWrapper h1{
font-family: Anton, Impact, sans-serif;
font-style: normal;
font-weight: 400;
padding: 8.5px 0 22.5px 0;
font-size: 43px;
text-align: center;
border-bottom: 1px solid rgb(0,0,0);
}
div#musicWrapper a, div#musicWrapper a:visited{
text-decoration: none;
color: rgb(0,0,0);
}
div#musicWrapper .listItem{
overflow: auto;
width: 100%;
border-bottom: 1px solid rgb(0,0,0);
}
div#musicWrapper .lastItem{
border-bottom: none;
margin-bottom: -10px;
}
div#musicWrapper .musicOption{
display: block;
float: left;
width: auto;
}
div#musicWrapper .musicOption img{
display: block;
float: left;
width: 20px;
height: 20px;
margin: 10px 10px 10px 0;
}
div#musicWrapper .amazon img{
width: 18px;
height: 18px;
margin: 12.5px 12px 9.5px 0;
}
div#musicWrapper .apple img{
width: 22px;
height: 22px;
margin: 8px 8px 10px 0;
}
div#musicWrapper .deezer img{
width: 23px;
height: 23px;
margin: 8.5px 7px 8.5px 0;
}
div#musicWrapper .spotify img{
width: 22px;
height: 22px;
margin: 9px 8px 9px 0;
}
div#musicWrapper .musicOption .musicOptionText{
display: block;
float: left;
width: auto;
height: 40px;
line-height: 40px;
}
div#storeWrapper{
background-color: rgb(255,255,255);
padding: 11px 10px 10px 10px;
font-size: 14px;
border-top: 1px solid rgb(0,0,0);
border-bottom: 1px solid rgb(0,0,0);
}
div#storeWrapper a:focus, div#storeWrapper a:visited:focus{
outline: none;
}
div#storeWrapper a:focus div.listItem, div#storeWrapper a:visited:focus div.listItem{
background-color: rgb(210,210,210);
outline: none;
}
div#storeWrapper h1{
font-family: Anton, Impact, sans-serif;
font-style: normal;
font-weight: 400;
padding: 8.5px 0 22.5px 0;
font-size: 43px;
text-align: center;
border-bottom: 1px solid rgb(0,0,0);
}
div#storeWrapper a, div#storeWrapper a:visited{
text-decoration: none;
color: rgb(0,0,0);
}
div#storeWrapper .listItem{
overflow: auto;
width: 100%;
border-bottom: 1px solid rgb(0,0,0);
}
div#storeWrapper .lastItem{
border-bottom: none;
margin-bottom: -10px;
}
div#storeWrapper .storeOption{
display: block;
float: left;
width: auto;
}
div#storeWrapper .storeOption img{
display: block;
float: left;
width: 20px;
height: 20px;
margin: 10px 10px 10px 0;
}
div#storeWrapper .storeOption .storeOptionText{
display: block;
float: left;
width: auto;
height: 40px;
line-height: 40px;
}
div#contactWrapper{
background-color: rgb(255,255,255);
padding: 11px 10px 10px 10px;
font-size: 14px;
border-top: 1px solid rgb(0,0,0);
border-bottom: 1px solid rgb(0,0,0);
}
div#contactWrapper a:focus, div#contactWrapper a:visited:focus{
outline: none;
}
div#contactWrapper a:focus div.listItem, div#contactWrapper a:visited:focus div.listItem{
background-color: rgb(210,210,210);
outline: none;
}
div#contactWrapper h1{
font-family: Anton, Impact, sans-serif;
font-style: normal;
font-weight: 400;
padding: 8.5px 0 22.5px 0;
font-size: 43px;
text-align: center;
border-bottom: 1px solid rgb(0,0,0);
}
div#contactWrapper a, div#contactWrapper a:visited{
text-decoration: none;
color: rgb(0,0,0);
}
div#contactWrapper .listItem{
overflow: auto;
width: 100%;
border-bottom: 1px solid rgb(0,0,0);
}
div#contactWrapper .lastItem{
border-bottom: none;
margin-bottom: -10px;
}
div#contactWrapper .contactOption{
display: block;
float: left;
width: auto;
}
div#contactWrapper .contactOption img{
display: block;
float: left;
width: 20px;
height: 20px;
margin: 10px 10px 10px 0;
}
div#contactWrapper .google img{
width: 18px;
height: 18px;
margin: 11px 11px 11px 0;
}
div#contactWrapper .ycombinator img{
width: 19px;
height: 19px;
margin: 10.5px 11px 10.5px 0;
}
div#contactWrapper .instagram img{
width: 19px;
height: 19px;
margin: 10.5px 11px 10.5px 0;
}
div#contactWrapper .mastodon img{
width: 19px;
height: 19px;
margin: 10.5px 11px 10.5px 0;
}
div#contactWrapper .tiktok img{
width: 19px;
height: 19px;
margin: 10.5px 11px 10.5px 0;
}
div#contactWrapper .contactOption .contactOptionText{
display: block;
float: left;
width: auto;
height: 40px;
line-height: 40px;
}
div#contactWrapper .contactOption .contactOptionText span.longUsername{
display: none;
}
div#contactWrapper .contactOption .contactOptionText span.ellipsis{
display: inline;
}
div#aboutWrapper{
background-color: rgb(255,255,255);
padding: 11px 10px 10px 10px;
font-size: 14px;
border-top: 1px solid rgb(0,0,0);
border-bottom: 1px solid rgb(0,0,0);
}
div#aboutWrapper a:focus, div#aboutWrapper a:visited:focus{
background-color: rgb(210,210,210);
outline: none;
}
div#aboutWrapper h1{
font-family: Anton, Impact, sans-serif;
font-style: normal;
font-weight: 400;
padding: 8.5px 0 22.5px 0;
font-size: 43px;
text-align: center;
border-bottom: 1px solid rgb(0,0,0);
margin-bottom: 10px;
}
div#aboutWrapper p{
color: rgb(0,0,0);
text-indent: 0.25in;
line-height: 23px;
margin: 0 0 0 0;
}
div#aboutWrapper p:first-of-type{
text-indent: 0;
}
div#aboutWrapper p:last-of-type{
margin: 0 0 0 0;
}
div#aboutWrapper p.lastUpdated{
text-indent: 0in;
font-size: 12px;
color: rgb(128,128,128);
}
div#aboutWrapper a, div#aboutWrapper a:visited{
text-decoration: underline;
color: rgb(0,0,0);
}
/* END GENERAL */



/* 360PX ************************************************************************************************************************************/
@media (min-width: 360px) and (min-height: 282.5px){
  div#contentWrapper{
  width: 360px;
  }
  div#contactWrapper .contactOption .contactOptionText span.longUsername{
  display: inline;
  }
  div#contactWrapper .contactOption .contactOptionText span.ellipsis{
  display: none;
  }
  iframe.youtube, a#fourzerofour, a#fourzerofour:visited{
  width: 360px;
  height: 202.5px;
  line-height: 202.5px;
  }
  div#topNav, div#bottomNav{
  width: 360px;
  }
  div#linkListWrapper .posting .rightDiv .rightDivText{
  width: 227.77px;
  }
}/* END 360PX */



/* 375PX ************************************************************************************************************************************/
@media (min-width: 375px) and (min-height: 290.9375px){
  div#contentWrapper{
  width: 375px;
  }
  iframe.youtube, a#fourzerofour, a#fourzerofour:visited{
  width: 375px;
  height: 210.9375px;
  line-height: 210.9375px;
  }
  div#topNav, div#bottomNav{
  width: 375px;
  }
  div#linkListWrapper .posting .rightDiv .rightDivText{
  width: 242.77px;
  }
}/* END 375PX */



/* 384PX ************************************************************************************************************************************/
@media (min-width: 384px) and (min-height: 297.92px){
  div#contentWrapper{
  width: 384px;
  }
  iframe.youtube, a#fourzerofour, a#fourzerofour:visited{
  width: 384px;
  height: 217.92px;
  line-height: 217.92px;
  }
  div#topNav, div#bottomNav{
  width: 384px;
  }
  div#linkListWrapper .posting .rightDiv .rightDivText{
  width: 251.77px;
  }
}/* END 384PX */



/* 390PX ************************************************************************************************************************************/
@media (min-width: 390px) and (min-height: 302.575px){
  div#contentWrapper{
  width: 390px;
  }
  iframe.youtube, a#fourzerofour, a#fourzerofour:visited{
  width: 390px;
  height: 222.575px;
  line-height: 222.575px;
  }
  div#topNav, div#bottomNav{
  width: 390px;
  }
  div#linkListWrapper .posting .rightDiv .rightDivText{
  width: 257.77px;
  }
}/* END 390PX */



/* 392PX ************************************************************************************************************************************/
@media (min-width: 392px) and (min-height: 304.1266666666667px){
  div#contentWrapper{
  width: 392px;
  }
  iframe.youtube, a#fourzerofour, a#fourzerofour:visited{
  width: 392px;
  height: 224.1266666666667px;
  line-height: 224.1266666666667px;
  }
  div#topNav, div#bottomNav{
  width: 392px;
  }
  div#linkListWrapper .posting .rightDiv .rightDivText{
  width: 259.77px;
  }
}/* END 392PX */



/* 393PX ************************************************************************************************************************************/
@media (min-width: 393px) and (min-height: 304.9025px){
  div#contentWrapper{
  width: 393px;
  }
  iframe.youtube, a#fourzerofour, a#fourzerofour:visited{
  width: 393px;
  height: 224.9025px;
  line-height: 224.9025px;
  }
  div#topNav, div#bottomNav{
  width: 393px;
  }
  div#linkListWrapper .posting .rightDiv .rightDivText{
  width: 260.77px;
  }
}/* END 393PX */



/* 411PX ************************************************************************************************************************************/
@media (min-width: 411px) and (min-height: 311.1875px){
  div#contentWrapper{
  width: 411px;
  }
  iframe.youtube, a#fourzerofour, a#fourzerofour:visited{
  width: 411px;
  height: 231.1875px;
  line-height: 231.1875px;
  }
  div#topNav, div#bottomNav{
  width: 411px;
  }
  div#linkListWrapper .posting .rightDiv .rightDivText{
  width: 278.77px;
  }
}/* END 411PX */



/* 412PX ************************************************************************************************************************************/
@media (min-width: 412px) and (min-height: 311.9446472019465px){
  div#contentWrapper{
  width: 412px;
  }
  iframe.youtube, a#fourzerofour, a#fourzerofour:visited{
  width: 412px;
  height: 231.9446472019465px;
  line-height: 231.9446472019465px;
  }
  div#topNav, div#bottomNav{
  width: 412px;
  }
  div#linkListWrapper .posting .rightDiv .rightDivText{
  width: 279.77px;
  }
}/* END 412PX */



/* 414PX ************************************************************************************************************************************/
@media (min-width: 414px) and (min-height: 312.875px){
  div#contentWrapper{
  width: 414px;
  }
  iframe.youtube, a#fourzerofour, a#fourzerofour:visited{
  width: 414px;
  height: 232.875px;
  line-height: 232.875px;
  }
  div#topNav, div#bottomNav{
  width: 414px;
  }
  div#linkListWrapper .posting .rightDiv .rightDivText{
  width: 281.77px;
  }
}/* END 414PX */



/* 428PX ************************************************************************************************************************************/
@media (min-width: 428px) and (min-height: 323.4553140096618px){
  div#contentWrapper{
  width: 428px;
  }
  iframe.youtube, a#fourzerofour, a#fourzerofour:visited{
  width: 428px;
  height: 243.4553140096618px;
  line-height: 243.4553140096618px;
  }
  div#topNav, div#bottomNav{
  width: 428px;
  }
  div#linkListWrapper .posting .rightDiv .rightDivText{
  width: 295.77px;
  }
}/* END 428PX */



/* 432PX ************************************************************************************************************************************/
@media (min-width: 432px) and (min-height: 326.4782608695652px){
  div#contentWrapper{
  width: 432px;
  }
  iframe.youtube, a#fourzerofour, a#fourzerofour:visited{
  width: 432px;
  height: 246.4782608695652px;
  line-height: 246.4782608695652px;
  }
  div#topNav, div#bottomNav{
  width: 432px;
  }
  div#linkListWrapper .posting .rightDiv .rightDivText{
  width: 299.77px;
  }
}/* END 432PX */



/* 600PX ************************************************************************************************************************************/
@media (min-width: 600px) and (min-height: 417.5px){
  div#contentWrapper{
  width: 600px;
  }
  iframe.youtube, a#fourzerofour, a#fourzerofour:visited{
  width: 600px;
  height: 337.5px;
  font-size: 18px;
  line-height: 337.5px;
  }
  a#fourzerofour{
  font-size: 56px;
  }
  div#topNav, div#bottomNav{
  width: 600px;
  }
  div#textWrapper{
  padding: 11px 40px 32px 40px;
  font-size: 18px;
  }
  div#textWrapper h1{
  font-size: 56px;
  padding: 8.5px 0 23.5px 0;
  }
  div#textWrapper p{
  line-height: 30px;
  text-indent: 0.5in;
  }
  div#textWrapper p:first-of-type:first-letter{
  margin-right: 8px;
  font-size: 56px;
  line-height: 58px;
  }
  @-moz-document url-prefix(){
    div#textWrapper p:first-of-type:first-letter{
    padding-top: 8.5px;
    }
  }
  div#linkListWrapper{
  font-size: 18px;
  }
  div#linkListWrapper h1{
  font-size: 56px;
  padding: 8.5px 0 23.5px 0;
  }
  div#linkListWrapper .posting .leftDivText{
  width: 54.3px;
  }
  div#linkListWrapper .posting .rightDiv .rightDivText{
  width: 455.7px;
  line-height: 26px;
  margin: 7.5px 0 7.5px 0;
  }
  div#musicWrapper{
  font-size: 18px;
  }
  div#musicWrapper h1{
  font-size: 56px;
  padding: 8.5px 0 23.5px 0;
  }
  div#storeWrapper{
  font-size: 18px;
  }
  div#storeWrapper h1{
  font-size: 56px;
  padding: 8.5px 0 23.5px 0;
  }
  div#contactWrapper{
  font-size: 18px;
  }
  div#contactWrapper h1{
  font-size: 56px;
  padding: 8.5px 0 23.5px 0;
  }
  div#aboutWrapper{
  padding: 11px 40px 32px 40px;
  font-size: 18px;
  }
  div#aboutWrapper h1{
  font-size: 56px;
  padding: 8.5px 0 23.5px 0;
  }
  div#aboutWrapper p{
  line-height: 30px;
  }
}/* END 600PX */



/* 768PX ************************************************************************************************************************************/
@media (min-width: 768px) and (min-height: 512px){
  div#contentWrapper{
  width: 768px;
  }
  iframe.youtube, a#fourzerofour, a#fourzerofour:visited{
  width: 768px;
  height: 432px;
  line-height: 432px;
  }
  div#topNav, div#bottomNav{
  width: 768px;
  }
  div#linkListWrapper .posting .rightDiv .rightDivText{
  width: 623.7px;
  }
}/* END 768PX */



/* 800PX ************************************************************************************************************************************/
@media (min-width: 800px) and (min-height: 530px){
  div#contentWrapper{
  width: 800px;
  }
  iframe.youtube, a#fourzerofour, a#fourzerofour:visited{
  width: 800px;
  height: 450px;
  line-height: 450px;
  }
  div#topNav, div#bottomNav{
  width: 800px;
  }
  div#linkListWrapper .posting .rightDiv .rightDivText{
  width: 655.7px;
  }
}/* END 800PX */



/* PRINT ************************************************************************************************************************************/
@media print{
  body{
  background-color: rgb(255,255,255);
  }
  div#topNav, div#bottomNav, a#fourzerofour{
  display: none;
  }
  div#textWrapper, div#linkListWrapper, div#musicWrapper, div#storeWrapper, div#contactWrapper, div#aboutWrapper{
  border-top: 0px;
  border-bottom: 0px;
  }
  div#linkListWrapper a div.lastItem, div#musicWrapper a div.lastItem, div#storeWrapper a div.lastItem, div#contactWrapper a div.lastItem{
  border-bottom: 1px solid rgb(0,0,0);
  }
}/* END PRINT */