/* LAST UPDATED 2020/11/25 */


/* RESET **********************************************************************/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small,
strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label,
legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
details, figcaption, figure, footer, header, hgroup, menu, nav, section,
summary, time, mark, audio, video {
margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%;
vertical-align: baseline; background: transparent;
}
article, aside, figure, footer, header, hgroup, nav, section {
display: block;
}
html {
-webkit-text-size-adjust: 100%;
}
a:active, a:hover {
outline: none;
}
/* END RESET ******************************************************************/


/* GENERAL ********************************************************************/
html{
display: block;
width: 100%;
height: 100%;
}
body{
display: block;
width: 100%;
height: 100%;
font-family: sans-serif;
color: rgb(255,255,255);
background-color: rgb(13,13,13);
}
div.verticalCenterBuffer{
display: block;
height: 50%;
}
.hidden{
display: none;
}
.centered{
text-align: center;
}
.rightAligned{
text-align: right;
}
.bold{
font-weight: bold;
}
.underlined{
text-decoration: underline;
}
::-moz-selection{
background: rgb(0,0,0);
color: rgb(255,255,255);
}
::selection{
background: rgb(0,0,0);
color: rgb(255,255,255);
}
iframe, a#fourzerofour, a#fourzerofour:visited{
background-color: rgb(13,13,13);
display: block;
width: 320px;
height: 180px;
margin: -90px auto;
line-height: 180px;
text-align: center;
font-size: 24px;
text-decoration: none;
color: rgb(255,255,255);
}
/* END GENERAL ****************************************************************/


/* 360PX **********************************************************************/
@media (min-width: 360px) and (min-height: 202.5px){
  iframe{
  width: 360px;
  height: 202.5px;
  margin: -101.25px auto;
  }
}/* END 360PX *****************************************************************/


/* 375PX **********************************************************************/
@media (min-width: 375px) and (min-height: 210.9375px){
  iframe{
  width: 375px;
  height: 210.9375px;
  margin: -105.46875px auto;
  }
}/* END 375PX *****************************************************************/


/* 411PX **********************************************************************/
@media (min-width: 411px) and (min-height: 231.1875px){
  iframe{
  width: 411px;
  height: 231.1875px;
  margin: -115.59375px auto;
  }
}/* END 411PX *****************************************************************/


/* 414PX **********************************************************************/
@media (min-width: 414px) and (min-height: 232.875px){
  iframe{
  width: 414px;
  height: 232.875px;
  margin: -116.4375px auto;
  }
}/* END 414PX *****************************************************************/


/* 600PX **********************************************************************/
@media (min-width: 600px) and (min-height: 337.5px){
  iframe{
  width: 600px;
  height: 337.5px;
  margin: -168.75px auto;
  }
}/* END 600PX *****************************************************************/


/* 800PX **********************************************************************/
@media (min-width: 800px) and (min-height: 450px){
  iframe{
  width: 800px;
  height: 450px;
  margin: -225px auto;
  }
}/* END 800PX *****************************************************************/


/* 960PX **********************************************************************/
@media (min-width: 960px) and (min-height: 540px){
  iframe{
  width: 960px;
  height: 540px;
  margin: -270px auto;
  }
}/* END 960PX *****************************************************************/


/* 1024PX *********************************************************************/
@media (min-width: 1024px) and (min-height: 576px){
  iframe{
  width: 1024px;
  height: 576px;
  margin: -288px auto;
  }
}/* END 1024PX ****************************************************************/


/* 1080PX *********************************************************************/
@media (min-width: 1080px) and (min-height: 607.5px){
  iframe{
  width: 1080px;
  height: 607.5px;
  margin: -303.75px auto;
  }
}/* END 1080PX ****************************************************************/


/* 1280PX *********************************************************************/
@media (min-width: 1280px) and (min-height: 720px){
  iframe{
  width: 1280px;
  height: 720px;
  margin: -360px auto;
  }
}/* END 1280PX ****************************************************************/


/* 1366PX *********************************************************************/
@media (min-width: 1366px) and (min-height: 768.375px){
  iframe{
  width: 1366px;
  height: 768.375px;
  margin: -384.1875px auto;
  }
}/* END 1366PX ****************************************************************/


/* 1440PX *********************************************************************/
@media (min-width: 1440px) and (min-height: 810px){
  iframe{
  width: 1440px;
  height: 810px;
  margin: -405px auto;
  }
}/* END 1440PX ****************************************************************/


/* 1920PX *********************************************************************/
@media (min-width: 1920px) and (min-height: 1080px){
  iframe{
  width: 1920px;
  height: 1080px;
  margin: -540px auto;
  }
}/* END 1920PX ****************************************************************/


/* 2560PX *********************************************************************/
@media (min-width: 2560px) and (min-height: 1440px){
  iframe{
  width: 2560px;
  height: 1440px;
  margin: -720px auto;
  }
}/* END 2560PX ****************************************************************/